<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScnEdit.ColorSchemes.Colors_Bright_Original" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.StyleSchemes.Styles_Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.ColorSchemes.Colors_Dark_Oblivion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.ColorSchemes.Colors_Gray_Zenburn" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.ColorSchemes.Colors_Dark_Original" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.StyleSchemes.StylesDefault" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.ColorSchemes.ColorsBrightOriginal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.StylesDefault" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.Styles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.ColorSchemes.ColorsDarkOriginal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.ColorsBrightOriginal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.Keywords" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ScnEdit.ColorsDarkOriginal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <ScnEdit.ColorSchemes.Colors_Bright_Original>
            <setting name="Background" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>66, 67, 63</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>HotTrack</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>MediumSeaGreen</value>
            </setting>
            <setting name="LineNumber" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="ServiceLine" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="Carret" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>SeaGreen</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="Selection" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="SameWord" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="SameWordText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProjectText" serializeAs="String">
                <value>68, 68, 68</value>
            </setting>
            <setting name="ProjectSelection" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="ProjectIcon" serializeAs="String">
                <value>136, 209, 132</value>
            </setting>
            <setting name="SearchResultBack" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="SearchResultFrame" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="ReplaceResultBack" serializeAs="String">
                <value>255, 192, 192</value>
            </setting>
            <setting name="ReplaceResultFrame" serializeAs="String">
                <value>Red</value>
            </setting>
        </ScnEdit.ColorSchemes.Colors_Bright_Original>
        <ScnEdit.StyleSchemes.Styles_Default>
            <setting name="Identifier" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>Underline</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="SameWord" serializeAs="String">
                <value>Underline</value>
            </setting>
        </ScnEdit.StyleSchemes.Styles_Default>
        <ScnEdit.ColorSchemes.Colors_Dark_Oblivion>
            <setting name="Background" serializeAs="String">
                <value>46, 52, 54</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>211, 215, 207</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>211, 215, 207</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>64, 115, 98</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>64, 115, 98</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>138, 226, 52</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>208, 190, 159</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>114, 159, 207</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>64, 115, 98</value>
            </setting>
            <setting name="LineNumber" serializeAs="String">
                <value>85, 87, 83</value>
            </setting>
            <setting name="ServiceLine" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Carret" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>192, 0, 0</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>114, 159, 207</value>
            </setting>
            <setting name="Selection" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="SameWord" serializeAs="String">
                <value>208, 190, 159</value>
            </setting>
            <setting name="SameWordText" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ProjectText" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ProjectSelection" serializeAs="String">
                <value>114, 159, 207</value>
            </setting>
            <setting name="ProjectIcon" serializeAs="String">
                <value>64, 115, 98</value>
            </setting>
            <setting name="SearchResultBack" serializeAs="String">
                <value>0, 64, 0</value>
            </setting>
            <setting name="SearchResultFrame" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="ReplaceResultBack" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="ReplaceResultFrame" serializeAs="String">
                <value>Red</value>
            </setting>
        </ScnEdit.ColorSchemes.Colors_Dark_Oblivion>
        <ScnEdit.ColorSchemes.Colors_Gray_Zenburn>
            <setting name="Background" serializeAs="String">
                <value>63, 63, 63</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>215, 215, 200</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>215, 215, 200</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>218, 198, 165</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>140, 208, 211</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>140, 208, 211</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>220, 163, 163</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>126, 182, 184</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>125, 155, 125</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>208, 208, 129</value>
            </setting>
            <setting name="LineNumber" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="ServiceLine" serializeAs="String">
                <value>47, 47, 47</value>
            </setting>
            <setting name="Carret" serializeAs="String">
                <value>143, 175, 159</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>176, 109, 137</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>204, 147, 147</value>
            </setting>
            <setting name="Selection" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="SameWord" serializeAs="String">
                <value>0, 96, 64</value>
            </setting>
            <setting name="SameWordText" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ProjectText" serializeAs="String">
                <value>215, 215, 200</value>
            </setting>
            <setting name="ProjectSelection" serializeAs="String">
                <value>0, 96, 64</value>
            </setting>
            <setting name="ProjectIcon" serializeAs="String">
                <value>125, 155, 125</value>
            </setting>
            <setting name="SearchResultBack" serializeAs="String">
                <value>0, 64, 0</value>
            </setting>
            <setting name="SearchResultFrame" serializeAs="String">
                <value>128, 255, 128</value>
            </setting>
            <setting name="ReplaceResultBack" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="ReplaceResultFrame" serializeAs="String">
                <value>Red</value>
            </setting>
        </ScnEdit.ColorSchemes.Colors_Gray_Zenburn>
        <ScnEdit.ColorSchemes.Colors_Dark_Original>
            <setting name="Background" serializeAs="String">
                <value>43, 43, 43</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>248, 239, 201</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>97, 97, 97</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>248, 239, 201</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>42, 167, 144</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>215, 91, 96</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>215, 91, 96</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>176, 109, 137</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>34, 193, 221</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LineNumber" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="ServiceLine" serializeAs="String">
                <value>50, 50, 50</value>
            </setting>
            <setting name="Carret" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>176, 109, 137</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>86, 156, 214</value>
            </setting>
            <setting name="Selection" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="SameWord" serializeAs="String">
                <value>0, 64, 72</value>
            </setting>
            <setting name="SameWordText" serializeAs="String">
                <value>Cyan</value>
            </setting>
            <setting name="ProjectText" serializeAs="String">
                <value>221, 221, 221</value>
            </setting>
            <setting name="ProjectSelection" serializeAs="String">
                <value>0, 64, 56</value>
            </setting>
            <setting name="ProjectIcon" serializeAs="String">
                <value>42, 167, 144</value>
            </setting>
            <setting name="SearchResultBack" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="SearchResultFrame" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="ReplaceResultBack" serializeAs="String">
                <value>64, 0, 0</value>
            </setting>
            <setting name="ReplaceResultFrame" serializeAs="String">
                <value>Red</value>
            </setting>
        </ScnEdit.ColorSchemes.Colors_Dark_Original>
        <ScnEdit.StyleSchemes.StylesDefault>
            <setting name="Identifier" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>Regular</value>
            </setting>
        </ScnEdit.StyleSchemes.StylesDefault>
        <ScnEdit.ColorSchemes.ColorsBrightOriginal>
            <setting name="Background" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>66, 67, 63</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>HotTrack</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>MediumSeaGreen</value>
            </setting>
            <setting name="LineNumber" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="ServiceLine" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="Carret" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>SeaGreen</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
        </ScnEdit.ColorSchemes.ColorsBrightOriginal>
        <ScnEdit.StylesDefault>
            <setting name="Identifier" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>Underline</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>Regular</value>
            </setting>
        </ScnEdit.StylesDefault>
        <ScnEdit.Styles>
            <setting name="Identifier" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>Regular</value>
            </setting>
        </ScnEdit.Styles>
        <ScnEdit.ColorSchemes.ColorsDarkOriginal>
            <setting name="Background" serializeAs="String">
                <value>43, 43, 43</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>248, 239, 201</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>97, 97, 97</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>248, 239, 201</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>42, 167, 144</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>215, 91, 96</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>215, 91, 96</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>176, 109, 137</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>34, 193, 221</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LineNumber" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="ServiceLine" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Carret" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>176, 109, 137</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>130, 156, 227</value>
            </setting>
        </ScnEdit.ColorSchemes.ColorsDarkOriginal>
        <ScnEdit.ColorsBrightOriginal>
            <setting name="Background" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>128, 64, 64</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>MediumSeaGreen</value>
            </setting>
            <setting name="LineNumber" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="ServiceLine" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="Carret" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>Blue</value>
            </setting>
        </ScnEdit.ColorsBrightOriginal>
        <ScnEdit.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Consolas, 11.25pt</value>
            </setting>
            <setting name="ColorScheme" serializeAs="String">
                <value>Dark_Original</value>
            </setting>
            <setting name="StyleScheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="FileSizeLimitKb" serializeAs="String">
                <value>32768</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SimExe" serializeAs="String">
                <value>eu07.exe</value>
            </setting>
            <setting name="RainstedPath" serializeAs="String">
                <value>C:\MaSzyna\Rainsted.exe</value>
            </setting>
            <setting name="SceneryMainExtension" serializeAs="String">
                <value>scn</value>
            </setting>
            <setting name="SceneryPartsExtensions" serializeAs="String">
                <value>scm;inc;ctr</value>
            </setting>
            <setting name="SceneryDirectory" serializeAs="String">
                <value>scenery</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EncodingDefault" serializeAs="String">
                <value>1250</value>
            </setting>
            <setting name="LastOpenFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="HtmlEncodingDefault" serializeAs="String">
                <value>65001</value>
            </setting>
            <setting name="AutoDecoding" serializeAs="String">
                <value>True</value>
            </setting>
        </ScnEdit.Properties.Settings>
        <ScnEdit.Keywords>
            <setting name="Keywords0" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>addvalues</string>
                        <string>animation</string>
                        <string>atmo</string>
                        <string>camera</string>
                        <string>condition</string>
                        <string>config</string>
                        <string>copyvalues</string>
                        <string>description</string>
                        <string>dynamic</string>
                        <string>end[a-z]*</string>
                        <string>event</string>
                        <string>event0</string>
                        <string>event1</string>
                        <string>event2</string>
                        <string>eventall0</string>
                        <string>eventall1</string>
                        <string>eventall2</string>
                        <string>eventlauncher</string>
                        <string>FirstInit</string>
                        <string>getvalues</string>
                        <string>include</string>
                        <string>light</string>
                        <string>lights</string>
                        <string>line_loop</string>
                        <string>line_strip</string>
                        <string>lines</string>
                        <string>material</string>
                        <string>memcell</string>
                        <string>memcompare</string>
                        <string>model</string>
                        <string>multiple</string>
                        <string>node</string>
                        <string>origin</string>
                        <string>probability</string>
                        <string>putvalues</string>
                        <string>rotate</string>
                        <string>setvalues</string>
                        <string>sky</string>
                        <string>sound</string>
                        <string>test</string>
                        <string>time</string>
                        <string>track</string>
                        <string>traction</string>
                        <string>trainset</string>
                        <string>triangle_fan</string>
                        <string>triangle_strip</string>
                        <string>triangles</string>
                        <string>updatevalues</string>
                        <string>velocity</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Keywords1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SetVelocity</string>
                        <string>ShuntVelocity</string>
                        <string>PassengerStopPoint</string>
                        <string>FoulingPoint</string>
                        <string>SetProximityVelocity</string>
                        <string>OutsideStation</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Keywords2" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Wait_for_orders</string>
                        <string>Prepare_engine</string>
                        <string>Change_direction</string>
                        <string>Obey_train</string>
                        <string>Shunt</string>
                        <string>WarningSignal</string>
                        <string>CabSignal</string>
                        <string>Jump_to_order</string>
                        <string>Jump_to_first_order</string>
                        <string>Timetable</string>
                        <string>Emergency_brake</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Keywords3" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ambient</string>
                        <string>canyon</string>
                        <string>conductor</string>
                        <string>connected</string>
                        <string>cross</string>
                        <string>diffuse</string>
                        <string>flat</string>
                        <string>headdriver</string>
                        <string>mountains</string>
                        <string>nobody</string>
                        <string>normal</string>
                        <string>passenger</string>
                        <string>passengers</string>
                        <string>reardriver</string>
                        <string>river</string>
                        <string>road</string>
                        <string>specular</string>
                        <string>switch</string>
                        <string>tunnel</string>
                        <string>unvis</string>
                        <string>vis</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Keywords4" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>none</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ScnEdit.Keywords>
        <ScnEdit.ColorsDarkOriginal>
            <setting name="Background" serializeAs="String">
                <value>43, 43, 43</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>248, 239, 201</value>
            </setting>
            <setting name="Comment" serializeAs="String">
                <value>97, 97, 97</value>
            </setting>
            <setting name="Identifier" serializeAs="String">
                <value>248, 239, 201</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>42, 167, 144</value>
            </setting>
            <setting name="Keyword1" serializeAs="String">
                <value>215, 91, 96</value>
            </setting>
            <setting name="Keyword2" serializeAs="String">
                <value>215, 91, 96</value>
            </setting>
            <setting name="Keyword3" serializeAs="String">
                <value>176, 109, 137</value>
            </setting>
            <setting name="Keyword4" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Time" serializeAs="String">
                <value>34, 193, 221</value>
            </setting>
            <setting name="Special" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LineNumber" serializeAs="String">
                <value>43, 145, 175</value>
            </setting>
            <setting name="ServiceLine" serializeAs="String">
                <value>64, 64, 64</value>
            </setting>
            <setting name="Carret" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Command" serializeAs="String">
                <value>176, 109, 137</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>248, 239, 201</value>
            </setting>
        </ScnEdit.ColorsDarkOriginal>
    </userSettings>
</configuration>
