<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScnSyntax.Properties.Keywords" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <ScnSyntax.Properties.Keywords>
            <setting name="Set1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>addvalues</string>
                        <string>animation</string>
                        <string>atmo</string>
                        <string>camera</string>
                        <string>condition</string>
                        <string>config</string>
                        <string>copyvalues</string>
                        <string>description</string>
                        <string>dynamic</string>
                        <string>else</string>
                        <string>end[a-z]*</string>
                        <string>event</string>
                        <string>event0</string>
                        <string>event1</string>
                        <string>event2</string>
                        <string>eventall0</string>
                        <string>eventall1</string>
                        <string>eventall2</string>
                        <string>eventlauncher</string>
                        <string>FirstInit</string>
                        <string>getvalues</string>
                        <string>include</string>
                        <string>isolated</string>
                        <string>light</string>
                        <string>lights</string>
                        <string>line_loop</string>
                        <string>line_strip</string>
                        <string>lines</string>
                        <string>material</string>
                        <string>memcell</string>
                        <string>memcompare</string>
                        <string>model</string>
                        <string>multiple</string>
                        <string>node</string>
                        <string>origin</string>
                        <string>propability</string>
                        <string>putvalues</string>
                        <string>rotate</string>
                        <string>setvalues</string>
                        <string>sky</string>
                        <string>sound</string>
                        <string>test</string>
                        <string>time</string>
                        <string>track</string>
                        <string>tracklength</string>
                        <string>traction</string>
                        <string>trainset</string>
                        <string>triangle_fan</string>
                        <string>triangle_strip</string>
                        <string>triangles</string>
                        <string>updatevalues</string>
                        <string>velocity</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Set2" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SetVelocity</string>
                        <string>ShuntVelocity</string>
                        <string>PassengerStopPoint</string>
                        <string>FoulingPoint</string>
                        <string>SetProximityVelocity</string>
                        <string>OutsideStation</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Set3" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Wait_for_orders</string>
                        <string>Prepare_engine</string>
                        <string>Change_direction</string>
                        <string>Obey_train</string>
                        <string>Shunt</string>
                        <string>WarningSignal</string>
                        <string>CabSignal</string>
                        <string>Jump_to_order</string>
                        <string>Jump_to_first_order</string>
                        <string>Timetable</string>
                        <string>Emergency_brake</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Set4" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ambient</string>
                        <string>canyon</string>
                        <string>conductor</string>
                        <string>connected</string>
                        <string>cross</string>
                        <string>diffuse</string>
                        <string>flat</string>
                        <string>headdriver</string>
                        <string>mountains</string>
                        <string>nobody</string>
                        <string>normal</string>
                        <string>passenger</string>
                        <string>passengers</string>
                        <string>reardriver</string>
                        <string>river</string>
                        <string>road</string>
                        <string>specular</string>
                        <string>switch</string>
                        <string>tunnel</string>
                        <string>unvis</string>
                        <string>vis</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Set5" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>none</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ScnSyntax.Properties.Keywords>
    </userSettings>
</configuration>
